* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  
}

body,html {
  
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  max-height: 100%;
}

header img {
  
  height: 100px;
  
  
}

div {
  background-color: white;
color: black;
border-top-left-radius: 20px;
margin-top: 5vh;
margin-left: 5vh;
height: 70vh  !important;
overflow-y: auto  !important;

  
}

input {
  
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
background-color: lightgray;
color: black;
outline: none;
}

button {
  
  margin: 10px;
  background-color: #838DFF;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
}
button:active {
  
  transition: all 0.2s;
  padding: 30px;
  background-color: rebeccapurple;
  
}
